{% extends 'store/main.html' %}
{% block content %}

<h2>My Orders</h2>
{% if orders %}
    {% for order in orders %}
        <div style="border:1px solid #ccc; padding:15px; margin-bottom:20px; border-radius:8px;">

            <h3>Order #{{ order.id }}</h3>
            <p><strong>Date:</strong> {{ order.date_ordered }}</p>
            <p><strong>Total:</strong> Rs {{ order.summary.total }}</p>
            <p><strong>Status:</strong>
            <span style="
            font-weight:bold;
            {% if order.order_status == 'Placed' %}color:green;
            {% elif order.order_status == 'Shipped' %}color:orange;
            {% elif order.order_status == 'Delivered' %}color:blue;
            {% elif order.order_status == 'Cancelled' %}color:red;
            {% endif %}
            ">
            {{ order.order_status }}
            </span>
            </p>
            <p>
                <a href="{% url 'store:download_invoice' order.id %}">
                    Download Invoice
                </a>
            </p>
            {% if order.order_status != "Cancelled" %}
                {% if order.date_ordered|timesince < "1 day" %}
                    <button onclick="cancelOrder({{ order.id }})"
                    style="background:red;color:white;padding:6px 12px;border:none;border-radius:5px;">
                    Cancel Order
                    </button>
                {% else %}
                    <p style="color:gray;">Cancel time expired</p>
                {% endif %}
            {% else %}
            <p style="color:red;">Order Cancelled</p>
            {% endif %}
            <hr>
            <h4>Items in this order:</h4>

            <table width="100%" border="1" cellpadding="6">
                <tr>
                    <th>Product</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>

                {% for item in order.orderitem_set.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.color }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>Rs {{ item.product.price }}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    {% endfor %}
{% else %}
    <p>You have not placed any orders yet.</p>
{% endif %}

<script>

function cancelOrder(orderId){

fetch(`/cancel-order/${orderId}/`)
.then(response => response.json())
.then(data => {

alert(data.message);
location.reload();

})

}

</script>

{% endblock %}
