{% extends 'store/main.html' %}
{% block content %}

<div class="container mt-5">
    <h2>🎉 Order Placed Successfully!</h2>
    <hr>

    <h4>Order ID: {{ order.id }}</h4>
    <p>Date: {{ order.date_ordered }}</p>

    {% if invoice %}
        <h5>Invoice Number: {{ invoice.invoice_number }}</h5>
    {% endif %}

    <hr>

    {% if summary %}
    <h4>Order Summary</h4>
    <ul>
        <li>Subtotal: ₹{{ summary.subtotal }}</li>
        <li>Tax: ₹{{ summary.tax }}</li>
        <li>Shipping: ₹{{ summary.shipping_cost }}</li>
        <li><strong>Total: ₹{{ summary.total }}</strong></li>
    </ul>
    {% endif %}
    <a href="{% url 'store:download_invoice' order.id %}" class="btn btn-success mt-3">
        Download Invoice (PDF)
    </a>


    <a href="{% url 'store:home' %}" class="btn btn-dark mt-3">Continue Shopping</a>
</div>

{% endblock %}
