{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<h2 class="mb-4">{{ category.name }}</h2>

<div class="row" id="products">
  {% for sub in subcategories %}
    <div class="col-md-4 mb-4">
      <div class="card text-center h-100">

        {% if sub.image %}
          <img src="{{ sub.image.url }}"
               class="card-img-top subcategory-img"
               alt="{{ sub.name }}">
        {% else %}
          <img src="{% static 'images/placeholder.png' %}"
               class="card-img-top subcategory-img"
               alt="placeholder">
        {% endif %}

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ sub.name }}</h5>
          <a href="{% url 'store:products_by_subcategory' sub.id %}"
             class="btn btn-success mt-auto">
            View All
          </a>
        </div>

      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
