{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Add Category{% endblock %}

{% block content %}

<div class="container mt-4">

<h2 class="page-title mb-4">Add Category</h2>

<div class="table-card">

<form method="post">
{% csrf_token %}

<table class="table custom-table">

<tbody>

<tr>
<th style="width:200px;">Category Name</th>
<td>
{{ form.name }}
</td>
</tr>

<tr>
<th></th>
<td>

<button type="submit" class="btn btn-add">
Save Category
</button>

<a href="{% url 'dashboard:dashboard_categories' %}"
class="btn btn-secondary ms-2">

Cancel

</a>

</td>
</tr>

</tbody>

</table>

</form>

</div>

</div>

{% endblock %}