{% extends 'dashboard/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}
<h2>Customers</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>

    </tr>
    {% for c in customers %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.user.username }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td>
        <a href="{% url 'dashboard:edit_customer' c.id %}" class="btn btn-sm btn-primary">Edit</a>

<a href="{% url 'dashboard:delete_customer' c.id %}"
   class="btn btn-sm btn-danger"
   onclick="return confirm('Delete this customer?');">
   Delete
</a>

    </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}