{% extends 'dashboard/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}
<h2>Invoices</h2>

<table>
    <tr>
        <th>Invoice </th>
        <th>&nbsp;Order</th>
        <th>&nbsp;&nbsp;Issued</th>
        <th>Paid</th>
        <th>Actions</th>
    </tr>
    {% for i in invoices %}
    <tr>
        <td>{{ i.invoice_number }}</td>
        <td>&nbsp;&nbsp; {{ i.order.id }}</td>
        <td>&nbsp;&nbsp;{{ i.issued_date }}</td>
        <td>
            {% if i.paid %} ✅ {% else %} ❌ {% endif %}
        </td>
        <td>
            <a href="{% url 'dashboard:edit_invoice' i.id %}"
                class="btn btn-sm btn-primary">Edit</a>
            <a href="{% url 'dashboard:delete_invoice' i.id %}"
       class="btn btn-sm btn-danger"
       onclick="return confirm('Delete this invoice?');">
       Delete
    </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}