{% extends 'dashboard/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}
<h2>Invoices</h2>

<table>
    <tr>
        <th>Invoice #</th>
        <th>Order</th>
        <th>Issued</th>
        <th>Paid</th>
    </tr>
    {% for i in invoices %}
    <tr>
        <td>{{ i.invoice_number }}</td>
        <td>#{{ i.order.id }}</td>
        <td>{{ i.issued_date }}</td>
        <td>
            {% if i.paid %} ✅ {% else %} ❌ {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}