{% extends 'dashboard/base.html' %}

{% block title %}Order Summaries{% endblock %}

{% block content %}
<div class="container mt-4">
<!-- Page Header -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="page-title">Order Summaries</h1>
    </div>

        <!-- Card Wrapper  -->
    <div class="card shadow-card">
<table class="table custom-table align-middle">
    <thead>
        <tr>
            <th>Order</th>
            <th>Subtotal</th>
            <th>Tax</th>
            <th>Shipping</th>
            <th>Total</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
    {% for s in summaries %}
    <tr>
        <td><strong>{{ s.order.id }}</strong></td>
        <td>₹{{ s.subtotal }}</td>
        <td>₹{{ s.tax }}</td>
        <td>₹{{ s.shipping_cost }}</td>
        <td><span class="badge bg-success fs-6">₹{{ s.total }}</span></td>
        <td>
        <a href="{% url 'dashboard:edit_order_summary' s.id %}"
   class="btn btn-sm btn-primary">Edit</a>

    </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
</div>
</div>
{% endblock %}
