{% extends 'dashboard/base.html' %}

{% block title %}Subcategories{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Subcategories</h1>

    <a href="{% url 'dashboard:add_subcategory' %}" class="btn btn-primary mb-3">Add New Subcategory</a>


    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for subcategory in subcategories %}
        <tr>

            <td>{{ subcategory.id }}</td>
            <td>
                {% if subcategory.image %}
                <img src="{{ subcategory.image.url }}"
                     style="width:60px; height:60px; object-fit:cover; border-radius:8px;"
                     alt="{{ subcategory.name }}">
                {% else %}
                No Image
                {% endif %}
            </td>
            <td>{{ subcategory.name }}</td>
            <td>{{ subcategory.category.name }}</td>
            <td>
                <a href="{% url 'dashboard:edit_subcategory' subcategory.id %}"
                           class="btn btn-sm btn-warning">
                    Edit
                </a>

                <a href="{% url 'dashboard:delete_subcategory' subcategory.id %}"
                    class="btn btn-sm btn-danger">
                    Delete
                </a>

            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No subcategories found.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
