body {
    padding-top: 20px;
}

.row-image {
    width: 80px; /* keep the larger width you want */
    height: 50px; /* adjust if needed */
}

.box-element {
    padding: 10px;
}

.product-img-rect {
    width: 100%;
    height: 460px;      /* rectangle height */
    object-fit: contain; /* crop nicely */
}

.subcategory-img {
    width: 100%;
    height: 460px;      /* rectangle height */
    object-fit: contain;
}

/* CONTACT PAGE ONLY */
.contact-page {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    color: #1a1a1a;
}

.contact-page header {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 30px;
}

.contact-section {
    display: flex;
    border: 1px solid #ffffff;
    padding: 20px;
    gap: 40px;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    border: none;
    border-bottom: 1px solid #a28c7e;
    background: transparent;
    font-size: 1rem;
    padding: 8px 0;
    outline: none;
}

.contact-form textarea {
    height: 60px;
}

.contact-form button {
    width: 150px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    padding: 12px;
    border: none;
}

.contact-info {
    flex: 0.7;
}

.social-icons a {
    font-size: 1.4rem;
    margin-right: 15px;
    color: #1a1a1a;
}

/* CART ROW */
.cart-row {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

/* PRODUCT IMAGE */
.row-image {
    width: 80px;
}

/* ARROW ICONS */
.chg-quantity {
    width: 12px;
    cursor: pointer;
}

.chg-quantity:hover {
    opacity: 0.6;
}

/* QUANTITY + ARROWS LAYOUT */
.quantity-wrapper {
    display: flex;
    align-items: center;     /* centers 1 between ▲ ▼ */
    gap: 6px;
    font-weight: 700;
}

/* NUMBER */
.quantity-value {
    min-width: 18px;
    text-align: center;
}

/* ARROWS ON RIGHT */
.arrow-wrapper {
    display: flex;
    flex-direction: column; /* ▲ above ▼ */
    justify-content: space-between;
    height: 28px;
}

/* ARROW ICONS */
.chg-quantity {
    width: 12px;
    cursor: pointer;
}

.chg-quantity:hover {
    opacity: 0.6;
}

.input-group
 {
    width: 59%;
}
